<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandForgeGenerator" version="1.0.8" manuallyInstalled="true" />
  <package id="MessagePack" version="3.1.4" manuallyInstalled="true" />
  <package id="MessagePack.Annotations" version="3.1.4" />
  <package id="MessagePackAnalyzer" version="3.1.4" />
  <package id="Microsoft.AspNetCore" version="2.3.9" manuallyInstalled="true" />
  <package id="Microsoft.AspNetCore.Authentication.Abstractions" version="2.1.1" />
  <package id="Microsoft.AspNetCore.Authentication.Core" version="2.1.1" />
  <package id="Microsoft.AspNetCore.Connections.Abstractions" version="2.3.0" />
  <package id="Microsoft.AspNetCore.Diagnostics" version="2.3.0" />
  <package id="Microsoft.AspNetCore.Diagnostics.Abstractions" version="2.3.0" />
  <package id="Microsoft.AspNetCore.HostFiltering" version="2.3.0" />
  <package id="Microsoft.AspNetCore.Hosting" version="2.3.0" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.3.0" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.3.0" />
  <package id="Microsoft.AspNetCore.Http" version="2.3.0" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.3.0" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.3.0" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.3.0" />
  <package id="Microsoft.AspNetCore.HttpOverrides" version="2.1.1" />
  <package id="Microsoft.AspNetCore.Routing" version="2.3.0" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="2.3.0" />
  <package id="Microsoft.AspNetCore.Server.IISIntegration" version="2.1.7" />
  <package id="Microsoft.AspNetCore.Server.Kestrel" version="2.3.0" />
  <package id="Microsoft.AspNetCore.Server.Kestrel.Core" version="2.3.0" />
  <package id="Microsoft.AspNetCore.Server.Kestrel.Https" version="2.3.0" />
  <package id="Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions" version="2.3.0" />
  <package id="Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets" version="2.3.0" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.3.0" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0-preview.4.25258.110" />
  <package id="Microsoft.Extensions.AI.Abstractions" version="9.5.0" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="8.0.2" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="8.0.1" />
  <package id="Microsoft.Extensions.Configuration.Json" version="8.0.1" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="8.0.1" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="8.0.1" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="8.0.0" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="8.0.0" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="8.0.1" />
  <package id="Microsoft.Extensions.Logging" version="8.0.1" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.3" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="8.0.1" />
  <package id="Microsoft.Extensions.Logging.Console" version="8.0.1" />
  <package id="Microsoft.Extensions.Logging.Debug" version="8.0.1" />
  <package id="Microsoft.Extensions.ObjectPool" version="8.0.11" />
  <package id="Microsoft.Extensions.Options" version="8.0.2" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="8.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" />
  <package id="Microsoft.NET.StringTools" version="17.11.4" />
  <package id="Microsoft.Net.Http.Headers" version="2.3.0" />
  <package id="ModelContextProtocol" version="0.2.0-preview.3" manuallyInstalled="true" />
  <package id="ModelContextProtocol.Core" version="0.2.0-preview.3" />
  <package id="System.Collections.Immutable" version="8.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" />
  <package id="System.IO.Pipelines" version="9.0.7" />
  <package id="System.Net.ServerSentEvents" version="10.0.0-preview.4.25258.110" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" />
  <package id="System.Security.Principal.Windows" version="4.5.1" />
  <package id="System.Text.Encodings.Web" version="9.0.7" />
  <package id="System.Text.Json" version="9.0.7" manuallyInstalled="true" />
  <package id="System.Threading.Channels" version="8.0.0" />
  <package id="UnitGenerator" version="1.6.1" manuallyInstalled="true" />
</packages>