<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandForgeGenerator" version="1.0.8" manuallyInstalled="true" />
  <package id="MessagePack" version="3.1.4" manuallyInstalled="true" />
  <package id="MessagePack.Annotations" version="3.1.4" />
  <package id="MessagePackAnalyzer" version="3.1.4" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0-preview.4.25258.110" />
  <package id="Microsoft.Bcl.Memory" version="9.0.5" />
  <package id="Microsoft.Extensions.AI.Abstractions" version="9.5.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="8.0.1" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="8.0.1" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.3" />
  <package id="Microsoft.Extensions.Options" version="8.0.2" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" />
  <package id="Microsoft.NET.StringTools" version="17.11.4" />
  <package id="ModelContextProtocol" version="0.2.0-preview.3" manuallyInstalled="true" />
  <package id="ModelContextProtocol.Core" version="0.2.0-preview.3" />
  <package id="System.Collections.Immutable" version="8.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" />
  <package id="System.IO.Pipelines" version="9.0.7" />
  <package id="System.Net.ServerSentEvents" version="10.0.0-preview.4.25258.110" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="9.0.7" />
  <package id="System.Text.Json" version="9.0.7" manuallyInstalled="true" />
  <package id="System.Threading.Channels" version="8.0.0" />
  <package id="UnitGenerator" version="1.6.1" manuallyInstalled="true" />
  <package id="mooresmaster.Generator" version="1.0.22" manuallyInstalled="true" />
</packages>