name: Run Unity Test
on:
  pull_request:

  # 手動実行デバッグ用
  workflow_dispatch: {}

jobs:
  test:
    name: Run Unity Test
    # mooresmasterを入れてからちゃんと動かなくなった。
    # なんかdll参照とLinuxの相性が悪いのか、linuxだとうまく動かなかった。windowsだとうまくいったので、とりあえずこれでなんとかする。
    # https://qiita.com/CdecPGL/items/a8c1c1be0fc30de9b2dd
    runs-on: windows-latest
    steps:
      # 使用するGithub Tokenを動的に生成する
      # 利用は ${{ steps.generate_token.outputs.token }}
      - name: Generate github token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}

      # リポジトリとサブモジュールをチェックアウト
      - name: Check out my unity project.
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      # 年月日を取得　キャッシュのkeyに利用
      - name: Set current datetime as env variable
        env:
          TZ: 'Asia/Tokyo'
        run: echo "CURRENT_DATETIME=$(date +'%Y-%m')" >> $GITHUB_ENV

      # キャッシュ keyを月跨ぎで更新することで定期的にキャッシュ自体の更新を行う
      - uses: actions/cache@v3
        with:
          path: moorestech_client/Library
          key: "Library_Test_${{ env.CURRENT_DATETIME }}"

      # GameCI の Test runner を利用して
      # EditMode のテストを実行する
      - name: Run Unity Test
        uses: game-ci/unity-test-runner@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          projectPath: moorestech_client/
          githubToken: ${{ steps.generate_token.outputs.token }}
          unityVersion: 6000.2.6f1
          testMode: editmode

      # テストの実行結果をアーティファクトにアップロードしてダウンロードして参照できるようにする
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: Test results
          path: artifacts
